@{
	ViewData["Title"] = "Terminos y condicones";
}

<!DOCTYPE html>
<html>
<head>
	<title>Términos y condiciones</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/crearcuenta.css" rel="stylesheet" />

</head>
<body>
	<div id="registro">
		<div class="container">
			<div id="registro-row" class="row justify-content-center align-items-center">
				<div id="registro-box" class="col-md-12">
					<form asp-controller="TerminosYCondiciones" asp-action="RegistrarCliente" method="post">

						<div id="registro-column" class="row justify-content-center align-items-center">
							<h3 class="text-center">Crear cuenta</h3>

							<label id="lbTerminosCondiciones" for="terminos" class="form-label text-center">Bienvenido, para concluir debes aceptar nuestros términos y condiciones</label>
							<div class="form-row">
								<label id="lbAceptarTerminos" for="factura" class="form-label text-center">Acepto los términos y condiciones</label>
								<input type="checkbox" id="checkBoxTerminos" class="checkbox text-center">
							</div>

							<div class="text-center">
								<input type="submit" id="btn_registro" name="registro" class="btn btn-info btn-md mx-auto" value="Crear cuenta" style="display: none;">
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>

<script>
    window.addEventListener('DOMContentLoaded', function() {
        var checkbox = document.getElementById('checkBoxTerminos');
        var registrar = document.getElementById('btn_registro');

        // Establece el estado inicial del botón
		registrar.style.display = checkbox.checked ? 'block' : 'none';

        // Agrega un evento para actualizar el estado del botón cuando el checkbox cambia
        checkbox.addEventListener('change', function() {
			registrar.style.display = this.checked ? 'block' : 'none';
			registrar.classList.add('text-center');
        });
    });
</script>

</html>

