@model Cliente
@{
	ViewData["Title"] = "Crear Cuenta";
}

<!DOCTYPE html>
<html>
<head>
	<title>Crear cuenta</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/crearcuenta.css" rel="stylesheet" />

	<script>
		
		async function validarCamposVacios(event) {
			var campos = ["nombre", "paterno", "materno", "email", "password1", "password2"];
			for (var i = 0; i < campos.length; i++) {
				var valor = document.getElementById(campos[i]).value;
				if (valor === "") {
					alert("Por favor, completa todos los campos.");
					event.preventDefault();
					event.stopPropagation();
					return false;
				}
			}
			//CORREO VALIDO O NO
			const emailAux = document.getElementById("email").value;
			const correoValidacion = await validarCorreo(emailAux);
			if (!correoValidacion) {
				alert("Este correo ya esta en uso");
				event.preventDefault();
				event.stopPropagation();
				return false;
			}else{
				alert("Se registra segun");
				//return true;
			}
		}

		async function validarCorreo(email) {
			try {
				const response = await $.ajax({
					type: "POST",
					url: "/RegistroUsuario/ValidarEmail",
					data: email,
					contentType: "application/json"
				});

				if (response) {
					//Correo en uso
					console.log("CORREO NO VALIDO");
					event.preventDefault();
					event.stopPropagation();
					return false;
				} else {
					//Correo valido
					console.log("CORREO SI VALIDOO");
					return true;
				}
			} catch (error) {
				return false;
			}
		}

		/*
		async function validarCamposVacios(event) {
			// Validar campos vacíos
			var campos = ["nombre", "paterno", "materno", "email", "password1", "password2"];
			for (var i = 0; i < campos.length; i++) {
				var valor = document.getElementById(campos[i]).value;
				if (valor === "") {
					alert("Por favor, completa todos los campos.");
					event.preventDefault();
					event.stopPropagation();
					return false;
				}
			}

			// Validar correo electrónico
			var email = document.getElementById("email").value;
			if (email !== "") {
				const response = await $.ajax({
					type: "POST",
					url: "/RegistroUsuario/ValidarEmail",
					data: { email: email },
					contentType: "application/json",
					success: function (response) {
						if (response.valido) {
							// Enviar formulario si el correo electrónico es válido
							alert("correo valido");
							return true;
						} else {
							alert("correo no valido");
							event.preventDefault();
							event.stopPropagation();
							return false;
						}
					},
					error: function () {
						alert("error");
						event.preventDefault();
						event.stopPropagation();
						return false;
					}
				});
				event.preventDefault();
				event.stopPropagation();
				return false;
			}
		}*/
				
	</script>

</head>
<body>
	<div id="registro">
		<div class="container">
			<div id="registro-row" class="row justify-content-center align-items-center">
				<div id="registro-box" class="col-md-12">
					<form asp-controller="RegistroUsuario" asp-action="RegistrarCliente" method="post" onsubmit="return validarCamposVacios(event);">

						<div id="registro-column" class="row justify-content-center align-items-center">
							<h3 class="text-center">Crear cuenta</h3>

							<div class="form-column">
								<div class="form-column">
									<label for="nombre" class="form-label">Nombre:</label>
									<input type="text" id="nombre" class="form-control" asp-for="Nombre" required>
								</div>
								<div class="form-column">
									<label for="ap_paterno" class="form-label">Apellido paterno:</label>
									<input type="text" id="paterno" class="form-control" asp-for="Paterno" required>
								</div>
								<div class="form-column">
									<label for="ap_materno" class="form-label">Apellido materno:</label>
									<input type="text" id="materno" class="form-control" asp-for="Materno" required>
								</div>
								<div class="form-column">
									<label for="correo" class="form-label">Correo electrónico:</label>
									<input type="email" id="email" class="form-control" asp-for="Email" required>
								</div>
							</div>
							<div class="form-column">
								<div class="form-column">
									<label for="contraseña" class="form-label">Contraseña:</label>
									<input type="password" id="password1" class="form-control" asp-for="Password" required>
								</div>
								<div class="form-column">
									<label for="confirmar_contraseña" class="form-label">Confirmar contraseña:</label>
									<input type="password" id="password2" class="form-control" required>
								</div>
								<div class="form-column">
									<label for="telefono" class="form-label">Número de teléfono:</label>
									<input type="tel" id="telefono" class="form-control" asp-for="Telefono">
								</div>
								<div class="form-row">
									<label id="lbAceptarTerminos" for="factura" class="form-label">Acepto los términos y condiciones</label>
									<input type="checkbox" id="checkBoxTerminos" class="checkbox">
								</div>
							</div>

							<div class="text-center">
								<input type="submit" onclick="validarCamposVacios()" id="btn_registro" name="registro" class="btn btn-info btn-md mx-auto" value="Crear cuenta" style="display: none;">
							</div>

							<div class="text-center">
								<p>¿Ya tienes cuenta? <a href="@Url.Action("Index", "InicioSesion")" id="link_login" class="text">Inicia sesión</a></p>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>

<script>
	window.addEventListener('DOMContentLoaded', function () {
		var checkbox = document.getElementById('checkBoxTerminos');
		var registrar = document.getElementById('btn_registro');

		// Establece el estado inicial del botón
		registrar.style.display = checkbox.checked ? 'block' : 'none';

		// Agrega un evento para actualizar el estado del botón cuando el checkbox cambia
		checkbox.addEventListener('change', function () {
			registrar.style.display = this.checked ? 'block' : 'none';
			registrar.classList.add('text-center');
		});
	});
</script>

</html>

