@model VistaProducto

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="" alt="Imagen del producto" />
        </div>
        <div class="col-md-6 align-items-center">
            <h2>@Model.Nombre</h2>
            <p>Precio: </p>
            <button class="btn btn-success btn-lg" style="background-color: #1B9A06; color: white;">Realizar pedido</button>
            <br> 
            <button class="btn btn-success btn-lg my-2" style="background-color: #C1EAB2; color: #1B9A06;">Agregar al carrito</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Descripción del producto</h3>
            <p>DESCRIPCION</p>
        </div>
    </div>
</div>

