@{
    ViewData["Title"] = "Carrito";
    bool ejecutarScripts = ViewBag.EjecutarScripts ?? false;
}
<h1>@ViewData["Title"]</h1>


<div id="contenedorCardsCarrito"></div>

<div class="total" style="font-size: 30px; margin-top: 10px;">
    Total:
</div>

<button class="btn btn-success btn-lg" style="background-color: #1B9A06; color: white;" onclick="window.location.href = '@Url.Action("Index", "RealizarPedido")'">Realizar pedido</button>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@if (ejecutarScripts)
{
    <script src="~/js/cargarCarrito.js"></script>
}
else
{
    <script>
        window.location.href = '@Url.Action("Index", "InicioSesion")';
    </script>
}