@{
    ViewData["Title"] = "Confirmar pedido";
}
<h1>@ViewData["Title"]</h1>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<p style="font-size: 25px; margin-top: 20px;">Seleccione una dirección de envío</p>

<div id="contenedorCardsDirecciones"></div>

<div class="total" style="font-size: 30px; margin-top: 10px;">
    Total:
</div>

<div id="mensajeError" style="color: red; font-size: larger; margin-top: 10px; margin-bottom: 10px;"></div> 

<button class="btn btn-success btn-lg" style="background-color: #1B9A06; color: white;" onclick="confirmarPedido()">Confirmar pedido</button>



<script>
    $(document).ready(function () {
        cargarDireccionesCliente();
    });

    var direccionID;
    var clienteID;
    var pedidoCarritoInfoAux;

    //Funcion para obtener direcciones y agregarlas a las cards
    function cargarDireccionesCliente() {
        $.get('/RealizarPedido/ObtenerDirecciones', function (data) {
            var contenedor = $('#contenedorCardsDirecciones');
            contenedor.empty();

            // Se recorren las direcciones y se crean las cards
            data.forEach(function (direccion) {
                var card = $('<div>').addClass('card mb-3');
                var cardBody = $('<div>').addClass('card-body');

                // Agregar el nombre completo a la card
                var nombreCompleto = $('<h5>').addClass('card-title').text(direccion.nombreCompleto);
                cardBody.append(nombreCompleto);

                // Agregar la información de la dirección a la card
                var informacionDireccion = $('<p>').addClass('card-text').text('Estado: ' + direccion.estado + ', Ciudad: ' + direccion.ciudad);
                cardBody.append(informacionDireccion);
                var informacionDireccion2 = $('<p>').addClass('card-text').text('Colonia: ' + direccion.colonia + ', Calle: ' + direccion.nombreCalle + ', Número: ' + direccion.numeroExt + ', CP: ' + direccion.cp);
                cardBody.append(informacionDireccion2);

                card.append(cardBody);
                contenedor.append(card);

                // Clic en card dirección
                card.click(function () {
                    contenedor.find('.card').removeClass('selected').css('border', ''); 
                    card.addClass('selected').css('border', '5px solid #ADD8E6');

                    direccionId = direccion ? direccion.iddireccion : null;
                    clienteId = direccion ? direccion.idcliente : null;
                    $('#mensajeError').empty();
                    obtenerCarritoYProductos();
                });

            });
        })
            .catch(function (error) {
                console.log(error);
            });
    }

    function obtenerCarritoYProductos() {
        $.get('/Carrito/ObtenerCarritoPorSucursal')
            .done(function (response) {
                var totalCarrito = response.totalCarrito;
                mostrarTotalCarrito(totalCarrito);

                if (response.productos && Array.isArray(response.productos)) {
                    var productos = response.productos;

                    var PedidoCarritoInfo = {
                        IdCliente: clienteId,
                        IdSucursal: 60,
                        IdDireccion: direccionId,
                        ProductosPedido: []
                    };

                    // Recorrer los productos y crear objetos ProductoPedido
                    for (var i = 0; i < productos.length; i++) {
                        var producto = productos[i];
                        var idPrecio = producto.idPrecio;
                        var cantidadCarrito = producto.cantidadCarrito;

                        // Crear un objeto ProductoPedido y agregarlo al pedido
                        var ProductosPedido = {
                            IdPrecio: idPrecio,
                            Cantidad: cantidadCarrito
                        };
                        PedidoCarritoInfo.ProductosPedido.push(ProductosPedido);
                    }

                    pedidoCarritoInfoAux = PedidoCarritoInfo;

                } else {
                    console.log("La respuesta del servidor no incluye una lista de productos válida.");
                }
            })
            .fail(function (error) {
                console.log(error);
            });
    }

    function mostrarTotalCarrito(totalCarrito) {
        var totalElement = $('.total');
        totalElement.text('Total: $' + totalCarrito + " pesos");
    }

    function confirmarPedido() {
        if (typeof clienteId !== 'undefined' && typeof direccionId !== 'undefined') {

            var carritoPedido = {
                IdCliente: pedidoCarritoInfoAux.IdCliente,
                IdSucursal: pedidoCarritoInfoAux.IdSucursal,
                IdDireccion: pedidoCarritoInfoAux.IdDireccion,
                ProductosPedido: pedidoCarritoInfoAux.ProductosPedido
            };

            $.ajax({
                url: '/RealizarPedido/RegistrarNuevoPedido',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(carritoPedido),
                success: function (response) {
                    $('#mensajeError').text('Pedido realizado exitosamente.');
                    $('#mensajeError').css('color', 'green');
                    
                    setTimeout(function () {
                        window.location.href = '@Url.Action("Index", "Home")';
                    }, 2000);
                },
                error: function (xhr, status, error) {
                    console.error('Error al registrar el pedido:', error);
                }
            });

        } else {
            $('#mensajeError').text('Para confirmar el pedido, seleccione una dirección');
            $('#mensajeError').css('color', 'red');
        }
    }

</script>