body {
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
    height: 100vh;
}

#registro .container #registro-row #registro-box {
    margin-top: 20px;
    max-width: 900px;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFFFF;
}

#registro-box form {
    display: flex;
    justify-content: space-between;
}

.form-column {
    max-width: 400px;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    margin-top: 35px;
}

.form-label {
    width: 150px;
    font-weight: 500;
    white-space: nowrap; 
}

.form-control {
    flex-grow: 1;
    width: 100%;
    border-radius: 7px;
}

.checkbox {
    margin-left: 130px;
}

#btn_siguiente {
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #813434;
    padding: 9px 33px;
    border-radius: 8px;
    border: 2px solid #813434;
    transition-duration: 0.4s;
    color: white;
}

#btn_siguiente:hover {
    background-color: #8B6969;
    color: white;
    border: 2px solid #764C4C;
}

#link_login {
    color: #0000FF;
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 15px;
}

#lbFactura {
    margin-left: 7px;
}

/* Elementos asociados a la vista de Terminos y condiciones */
/* Boton que concluirá el registro ubicado en la vista Terminos y Condiciones */
#btn_registro {
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #813434;
    padding: 9px 33px;
    border-radius: 8px;
    border: 2px solid #813434;
    transition-duration: 0.4s;
    color: white;
}

#btn_registro:hover {
    background-color: #8B6969;
    color: white;
    border: 2px solid #764C4C;
}

label#lbTerminosCondiciones,
label#lbAceptarTerminos,
input[type="checkbox"]#checkBoxTerminos {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 80%;
    width: auto;
}

label#lbAceptarTerminos {
    margin-right: 10px;
}

input[type="checkbox"]#checkBoxTerminos {
    margin-top: 8px;
    margin-left: 0;
}